<h1>All examples</h1>

<ul>
  {{#each this.model.examples as |example|}}
    <li>
      {{example.name}}
      ({{example.id}})
    </li>
  {{/each}}
</ul>

<h1>Saved examples</h1>

<ul>
  {{#each this.savedExamples as |example|}}
    <li>
      {{example.name}}
      ({{example.id}})
    </li>
  {{/each}}
</ul>

<button type='button' {{on 'click' this.save}}>Save</button>